<nav>
  <label class="logo">Nutripal</label>
  <input type="checkbox" id="menu-toggle">
  <label for="menu-toggle" class="menu-icon">&#9776;</label>
  <ul>
  <li><a routerLink="/profile" routerLinkActive="active" class="register-link">Profile</a></li>
  <li><a routerLink="/consult">Consult</a></li>
  <li><a routerLink="/booking">Bookings</a></li>
  <li><a routerLink="/userprogress">Progress</a></li>
  <li><a routerLink="/aboutus" routerLinkActive="active" class="register-link">About Us</a></li>
  <button class="bg-white-600 mt-4 hover:bg-red-700 border-none text-white text-lg font-bold py-2 px-4 rounded hover:cursor-pointer focus:outline-none focus:shadow-outline" (click)="logout()">
    Logout
  </button>
 <li><a routerLink="/bmicalculator" class="nav-link"><span class="bmi" >Calculate Bmi</span></a></li>
  </ul>
</nav>

  <div class="details">
    <h2>Your current bmi count is {{bmiValue}}</h2> 
    <h3>In order to change your body weight</h3>
    <h3>Change your bmi from {{bmiValue}} to {{bmiResult}} </h3>
    <h2>Foods we recommend</h2>
  </div>

  <div class="buttons">
    <button id="breakfastBtn" class="icon-button" (click)="toggleBreakfast()" ><lucide-icon name="utensils"></lucide-icon>Breakfast</button>
    <button id="lunchBtn" class="icon-button" (click)="toggleLunch()"><lucide-icon name="beef"></lucide-icon>Lunch</button>
    <button id="dinnerBtn" class="icon-button" (click)="toggleDinner()"><lucide-icon name="croissant"></lucide-icon>Dinner</button>
  </div>

<div class="food-display-container">
  <div class="foodDisplay" *ngFor="let food of foodArray">
    <p-card header="{{food.foodName}}" header="Calories {{food.kcal}} Protein {{food.protein}} Fats {{food.fats}}" [style]="{ width: '360px' }">
      <ng-template pTemplate="header">
          <img alt="Card" src="http://localhost:3000/foodImages/{{food?.imageUrl}}" />
      </ng-template>
      <p>
          {{food.description}}
      </p>
      <ng-template pTemplate="footer">
          <div class="flex gap-3 mt-1">
              <!-- <p-button label="Cancel" severity="secondary" class="w-full" styleClass="w-full" />
              <p-button label="Save" class="w-full" styleClass="w-full" /> -->
          </div>
      </ng-template>
  </p-card>
  </div>
</div>

<div class="startBtn">
  <button id="buttonStart" (click)="startDiet()">Start Diet</button>
</div>
