<app-nutridash></app-nutridash>

<div class="main">
  <div class="main-section w-full lg:w-3/4 xl:w-2/3 p-8 flex flex-col items-center justify-center mb-20">
    <h2 class="text-2xl font-bold mb-3 ml-5 text-indigo-500">Scheduled Slots</h2>
    <app-reusabletable-nutritionist
    [rows]="Appointments" 
    [currentPage]="currentPage" 
    [itemsPerPage]="itemsPerPage"
    (edit)="editAppointment($event)"  
    (delete)="deleteAppointment($event)">  
  </app-reusabletable-nutritionist>
  </div>
</div>




<!-- Edit modal -->

<div class="card flex justify-content-center">
  
  <p-dialog 
      header="Update" 
      [(visible)]="visible" 
      [modal]="true" 
      [style]="{ width: '25rem' }">
          <!-- <ng-template pTemplate="header">
              <div class="inline-flex align-items-center justify-content-center gap-2">
         
              </div>
          </ng-template> -->
          <span class="p-text-secondary block mb-5">Update your information.</span>
          <div class="flex align-items-center gap-3 mb-3">
            <label for="date">Date</label>
            <input pInputText type="date" [(ngModel)]="selectedAppointment.date" id="date" />
          </div>
          <div class="flex align-items-center gap-3 mb-5">
            <label for="startTime"> Time</label>
            <input pInputText type="time" [(ngModel)]="selectedAppointment.time" id="startTime" />
          </div>
          <ng-template pTemplate="footer">
              <p-button 
                  label="Save" 
                  [outlined]="true" 
                  severity="secondary" 
                  (onClick)="saveAppointment()" 
                />
          </ng-template>
  </p-dialog>
</div>



  <div class="pagination-controls ">
    <button type="button" class="px-4 py-2 border border-gray-300 hover:bg-gray-400 hover:text-white transition duration-150 ease-in-out" (click)="prevPage()">
      Previous
    </button>
    <span class="mx-2">Page {{ currentPage }} of {{ totalPages }}</span>
    <button type="button" class="px-4 py-2 border border-gray-300 hover:bg-gray-400 hover:text-white transition duration-150 ease-in-out" (click)="nextPage()">
      Next
    </button>
  </div>

