<div class="wrapper">
  <nav>
    <label class="logo">Nutripal</label>
    <input type="checkbox" id="menu-toggle">
    <label for="menu-toggle" class="menu-icon">&#9776;</label>
    <ul>
    <li><a routerLink="/profile" routerLinkActive="active" class="register-link">Profile</a></li>
    <li><a routerLink="/consult">Consult</a></li>
    <li><a routerLink="/booking">Bookings</a></li>
    <li><a routerLink="/userprogress">Progress</a></li>
    <li><a routerLink="/aboutus">About Us</a></li>
    <button class="bg-white-600 mt-4 hover:bg-red-700 border-none text-white text-lg font-bold py-2 px-4 rounded hover:cursor-pointer focus:outline-none focus:shadow-outline" (click)="logout()">
      Logout
    </button>
   <li><a routerLink="/bmicalculator" class="nav-link"><span class="bmi" >Calculate Bmi</span></a></li>
    </ul>
  </nav>

  <div class="profile">
    <div class="profile-container">
      <div class="profile-content">
        <div class="profile-photo-section">
          <div class="profile-photo-wrapper">
            <img src="./assets/images/view-3d-businessman.jpg" alt="Profile Photo" class="profile-photo" />
          </div>
          <h2 class="text-4xl font-semibold mb-8">{{nutriProfile.fullName}}</h2>
        </div>
        <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
          <div>
            <label class="block text-lg font-medium text-gray-700">Full Name</label>
            <input type="text" [(ngModel)]="nutriProfile.fullName" class="mt-2 block w-full rounded-lg border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 text-lg" />
          </div>
          <div>
            <label class="block text-lg font-medium text-gray-700">Email</label>
            <input type="email" [(ngModel)]="nutriProfile.email" class="mt-2 block w-full rounded-lg border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 text-lg" />
          </div>
          <div>
            <label class="block text-lg font-medium text-gray-700">Years of experience</label>
            <input type="number" [(ngModel)]="nutriProfile.experience" class="mt-2 block w-full rounded-lg border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 text-lg" />
          </div>
          <div>
            <label class="block text-lg font-medium text-gray-700">Specialization</label>
            <input type="text" [(ngModel)]="nutriProfile.specialization" class="mt-2 block w-full rounded-lg border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 text-lg" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>