* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
}

nav {
  background: #b2b4b5;
  height: 75px;
  width: calc(100% - 1px); /* Reduced width to leave space on both sides */
  max-width: 1450px; /* Maximum width for larger screens */
  margin: 0 auto; /* Centering the navbar */
  display: flex;
  align-items: center;
  justify-content: space-between; /* Space between logo and links */
  padding: 0 10px;
}

nav ul {
  float: right;
  margin-right: 20px;
}

label.logo {
  color:#b82f60;
  font-size: 30px;
  line-height: 75px;
  padding: 0 100px;
  font-weight: bold;
}

nav ul li {
  display: inline-block;
  line-height: 75px;
  margin: 0 5px;
}

nav ul li a {
  color: white;
  font-size: 15px;
  padding: 7px 13px;
  border-radius: 3px;
  font-weight:bold;
  transition: color 0.5s;
  cursor: pointer;
}

nav ul li a:hover,
nav ul li a.active {
  color: #b82f60; 
}
.nav-link {
  color: white;
  font-size: 15px;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
  cursor: pointer;
}

nav ul li:last-child a span.bmi {
  color: white;
  font-size: 17px;
  line-height: 75px; 
  padding: 7px 13px;
  font-weight: bold;
}

nav ul li:last-child a:hover span.bmi {
  background: #b82f60;
  transition: 0.5s;
}

.logout-button {
  background-color: white;
  margin-top: 4px;
  border: none;
  color: #b82f60;
  font-size: 17px;
  font-weight: bold;
  padding: 7px 13px;
  border-radius: 3px;
  cursor: pointer;
  text-transform: uppercase;
}

.logout-button:hover {
  background-color: #b82f60;
  color: white;
  transition: 0.5s;
}

.background-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Full height minus nav height */
  width: calc(100% - 1px);
  max-width: 1450px;
  margin: 0 auto; /* Centering the background container */
  background: url('/assets/images/back.jpg') no-repeat center center/cover;
}

.form-container {
  background-color: rgba(255, 255, 255, 0.2);
  padding: 20px;
  /* border-radius: 8px; */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  /* width: 360px; */
}

.field {
  margin-bottom: 20px;
}

.field label {
  font-weight: bold;
}

.field input {
  width: 100%;
  padding: 8px;
  border: 1px solid rgba(255, 255, 255, 0.8);;
  border-radius: 4px;
}

.field small {
  color: red;
  margin-top: 4px;
  display: block;
}

.p-error {
  font-size: 12px;
}

.heading{
  text-align: center;
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #2b2c2d; /* Dark color for contrast */
}