<div class="min-h-screen flex">
  <div class="border-half">
    <img src='./assets/images/Boost your immune system-bro.png' alt="image" class="object-cover w-full h-full">
  </div>

  <div class="w-full lg:w-1/2 p-8 flex justify-center mt-48">
    <form [formGroup]="otpForm" (ngSubmit)="submitOtp()">
      <p-card header="Otp verification" [style]="{width: '360px' }" >
        <div class="field">
          <label for="otp">Enter the Otp</label>
          <input type="string" pInputText formControlName="otp" class="w-full" name="otp" placeholder="Type your Otp" />
          <small *ngIf="otp.invalid && (otp.dirty || otp.touched)" class="block p-error">
            <div *ngIf="otp.errors?.['required']">Otp is required.</div>
          </small>
        </div>
        <p-button  label="Submit" styleClass="w-full" [disabled]="otpForm.invalid" type="submit"></p-button>
        <div>
          <p *ngIf="remainingTime > 0; else expired" class="font-semibold text-center text-xs text-indigo-600 hover:text-indigo-800">
            OTP will expire in: {{ remainingTime }} s
         </p>
         <ng-template #expired>
          <p class="text-xs text-gray-600 font-semibold text-center">
            <a class="text-indigo-600 no-underline hover:text-indigo-800 cursor-pointer" (click)="resendOtp(); $event.preventDefault()">
              Resend OTP
            </a>
          </p>
       </ng-template>
        </div>
      </p-card>
    </form>
  </div>