.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  width: 100%;
  padding-left: 150px;
}

.grid-item {
  display: flex;
  flex-direction: column;
}

.custom-input {
  height: 60px; /* Adjusted height */
  width: 70%; /* Adjusted width */
  padding: 10px;
  border: 1px solid #cbd5e0;
  border-radius: 0.375rem;
}

form {
  width: 70%; /* Ensure form takes up full width */
}

