<nav>
  <label class="logo">Nutripal</label>
  <ul>
    <li routerLink="#" routerLinkActive="active" class="register-link">Profile</li>
    <li><a routerLink="/consult">Consult</a></li>
    <li><a routerLink="#">About Us</a></li>
    <button class="bg-white-600 mt-4 hover:bg-red-700 border-none text-white text-lg font-bold py-2 px-4 rounded hover:cursor-pointer focus:outline-none focus:shadow-outline" (click)="logout()">
      Logout
    </button>
    <li><a routerLink="/bmicalculator"><span class="bmi">Calculate Bmi</span></a></li>
  </ul>
</nav>

<div class="main-section w-full lg:w-1/2 p-8 flex flex-col items-center justify-center mb-20">
  <h2 class="text-4xl font-bold mb-10">Book an appointment</h2>
  <div class="overflow-x-auto">
    <table class="min-w-full mb-20">
      <thead>
        <tr>
          <th class="px-6 py-3 bg-gray-50 text-left text-xs leading-4 font-semibold text-gray-500 uppercase tracking-wider">No</th>
          <th class="px-6 py-3 bg-gray-50 text-left text-xs leading-4 font-semibold text-gray-500 uppercase tracking-wider">Nutritionist</th>
          <th class="px-6 py-3 bg-gray-50 text-left text-xs leading-4 font-semibold text-gray-500 uppercase tracking-wider">Email</th>
          <th class="px-6 py-3 bg-gray-50 text-left text-xs leading-4 font-semibold text-gray-500 uppercase tracking-wider">Date</th>
          <th class="px-6 py-3 bg-gray-50 text-left text-xs leading-4 font-semibold text-gray-500 uppercase tracking-wider">Time</th>
          <th class="px-6 py-3 bg-gray-50 text-left text-xs leading-4 font-semibold text-gray-500 uppercase tracking-wider">Book</th>
        </tr>
      </thead>
      <tbody class="bg-white divide-y divide-gray-200">
        <!-- Sample User Data -->
        <tr *ngFor="let appointment of Appointment; let i = index">
          <td class="px-6 py-4 whitespace-no-wrap">{{i + 1}}</td>
          <td class="px-6 py-4 whitespace-no-wrap">{{appointment.nutritionist.fullName }}</td>
          <td class="px-6 py-4 whitespace-no-wrap">{{appointment.nutritionist.email }}</td>
          <td class="px-6 py-4 whitespace-no-wrap">{{appointment._doc.date | date:'yyyy-MM-dd'}}</td>
          <td class="px-6 py-4 whitespace-no-wrap">{{appointment._doc.time}}</td>
          <td class="px-6 py-4 whitespace-no-wrap">
              <button type="button" class="px-3 py-2 text-sm font-medium text-center cursor-pointer text-white bg-green-500 rounded-lg border-none hover:bg-green-600 focus:ring-4 focus:outline-none" (click)="bookSlot(appointment._doc._id)">Book Slot</button>
          </td>
        </tr>
        <!-- Add more user rows here -->
      </tbody>
    </table>
  </div>
</div>

