<div class="min-h-screen flex">
  <div class="border-half">
    <img src='./assets/images/funny-3d-illustration-cartoon-teenage-girl.jpg' alt="image" class="object-cover w-full h-full">
  </div> 

  <div class="w-full lg:w-1/2 p-8 flex justify-center mt-48">
  <form [formGroup]="nutriregisterForm" (ngSubmit)="submitDetails()">
    <p-card header="Register" [style]="{width: '360px' }" >
      <div class="field">
        <label for="fullName">FullName</label>
        <input type="text" pInputText formControlName="fullName" class="w-full" name="fullName" placeholder="Type your fullName" />
        <small *ngIf="fullName.invalid && (fullName.dirty || fullName.touched)" class="block p-error">
          <div *ngIf="fullName.errors?.['required']">Name is required.</div>
          <div *ngIf="fullName.errors?.['pattern']">Entered name should be valid</div>
        </small>
      </div>
      <div class="field">
        <label for="email">Email</label>
        <input type="text" pInputText formControlName="email" class="w-full" name="email" placeholder="Type your email" />
        <small *ngIf="email.invalid && (email.dirty || email.touched)" class="block p-error">
          <div *ngIf="email.errors?.['required']">Email is required.</div>
          <div *ngIf="email.errors?.['email']">Email should be valid</div>
        </small>
      </div>
      <div class="field">
        <label for="specialization">Specialization</label>
        <input type="text" pInputText formControlName="specialization" class="w-full" name="specialization" placeholder="Type your specialization" />
        <small *ngIf="specialization.invalid && (specialization.dirty || specialization.touched)" class="block p-error">
          <div *ngIf="specialization.errors?.['required']">specialization is required.</div>
          <div *ngIf="specialization.errors?.['specialization']">specialization should be valid</div>
        </small>
      </div>
      <div class="field">
        <label for="experience">Years of experience</label>
        <input type="text" pInputText formControlName="experience" class="w-full" name="experience" placeholder="Type your experience" />
        <small *ngIf="experience.invalid && (experience.dirty || experience.touched)" class="block p-error">
          <div *ngIf="experience.errors?.['required']">experience is required.</div>
          <div *ngIf="experience.errors?.['experience']">experience should be valid</div>
        </small>
      </div>
      <div class="field">
        <label for="password">Password</label>
        <input type="password" pInputText formControlName="password" class="w-full" name="password" placeholder="Type your password" />
        <small
        *ngIf="password.invalid && (password.dirty || password.touched)"
        class="block p-error">
        </small>
      </div>
      <div class="field">
        <label for="confirmPassword">Confirm Password</label>
        <input type="password" pInputText formControlName="confirmPassword" class="w-full" name="confirmPassword" placeholder="Confirm your password" />
        <small
        *ngIf="confirmPassword.invalid && (confirmPassword.dirty || confirmPassword.touched)"
        class="block p-error">
        <div *ngIf="confirmPassword.errors?.['required']">Confirm the password.</div>
        </small>
        <small class="block p-error"
        *ngIf="nutriregisterForm.errors?.['passwordMismatch'] && confirmPassword.valid && password.valid">Password not matching</small>
      </div>
      <p-button label="Register" styleClass="w-full" [disabled]="nutriregisterForm.invalid" type="submit"></p-button>
      <div class="mt-2">
        Already a member?  <a routerLink="/userLogin">Login</a>
      </div>
  </p-card>
  </form>
  </div>




