.container {
  overflow-x: auto;
}

.button-group {
  display: flex;
  gap: 10px; /* Space between buttons */
}

.show-slots-btn {
  padding: 10px 20px;
  font-size: 14px;
  text-align: center;
  cursor: pointer;
  border-radius: 4px;
  border: none;
  background-color: #4CAF50; /* Green background */
  color: white;
  transition: background-color 0.3s ease;
}

.show-slots-btn:hover {
  background-color: #45a049; /* Darker green for hover */
}

.show-profile-btn {
  padding: 10px 20px;
  font-size: 14px;
  text-align: center;
  cursor: pointer;
  border-radius: 4px;
  border: none;
  background-color: #008CBA; /* Blue background */
  color: white;
  transition: background-color 0.3s ease;
}

.show-profile-btn:hover {
  background-color: #007bb5; /* Darker blue for hover */
}
