<div class="min-h-screen flex">
  <div class="border-half">
    <img src='./assets/images/view-3d-businessman.jpg' alt="image" class="object-cover w-full h-full">
  </div> 

  <div class="w-full lg:w-1/2 p-8 flex justify-center mt-48">  
    <form [formGroup]="adminloginForm" (ngSubmit)="adminloginDetails()">
      <p-card header="Admin-Login" [style]="{width: '360px' }" >
        <div class="field">
          <label for="email">Email</label>
          <input type="text" pInputText formControlName="email" class="w-full" name="email" placeholder="Type your email" />
          <small *ngIf="email.invalid && (email.dirty || email.touched)" class="block p-error">
            <div *ngIf="email.errors?.['required']">Email is required.</div>
            <div *ngIf="email.errors?.['email']">Email should be valid</div>
          </small>
        </div>
        <div class="field">
          <label for="password">Password</label>
          <input type="password" pInputText formControlName="password" class="w-full" name="password" placeholder="Type your password" />
          <small
          *ngIf="password.invalid && (password.dirty || password.touched)"
          class="block p-error">
    
          </small>
        </div>
        <p-button label="Sign In" styleClass="w-full" [disabled]="adminloginForm.invalid" type="submit"></p-button>

    </p-card>
    </form>
      </div>
</div>